/* 


 .titulo {
    color: #345392;
    display: flex;
    justify-content: center;
}

.subtitulo {
    color: #6C79AF;
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productImage {
    width: 400px;
    height: auto;
} */


.titulo {
    display: flex;
    justify-content: center;
    color: var(--dark-blue-color);
    font-weight: 700;
    font-size: 40px;
    line-height: 58px;
}

.subtitulo {
    display: flex;
    justify-content: center;
    color: var(--light-blue-color);
    font-family: var(--second-font);
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    margin: 0 0 30px 0;
}

.cardContainer {
    display: flex;
    justify-content: center; /* Centraliza os cards horizontalmente */
    gap: 50px 200px; /* Espaçamento entre os cards */
    flex-wrap: wrap; /* Permite que os cards rolem para a linha seguinte se a tela for pequena */
    padding: 16px 10%; /* Adiciona algum padding ao redor do contêiner */
}


.card {
    position: relative; /* Define o contêiner do card como relativo */
    padding: 16px;
    width: 30%; /* Ajuste conforme necessário */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productImage {
    max-width: 100%;
    max-height: 350px;
    margin: auto; /* Centraliza a imagem horizontalmente */
}

.card a {
    position: absolute; /* Posiciona o link/botão absolutamente */
    bottom: 0px; /* Ajuste conforme necessário */
    left: 50%; /* Move o botão para o meio do card horizontalmente */
    transform: translateX(-50%); /* Corrige a posição do botão centralizando-o horizontalmente */
}
