.titulo {
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--dark-blue-color);
    font-weight: 700;
    font-size: 40px;
    line-height: 58px;
}

.subtitulo {
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--light-blue-color);
    font-family: var(--second-font);
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    margin: 0 0 30px 0;
}

.cardContainer {
    display: flex;
    justify-content: center; /* Centraliza os cards horizontalmente */
    gap: 50px 200px; /* Espaçamento entre os cards */
    flex-wrap: wrap; /* Permite que os cards rolem para a linha seguinte se a tela for pequena */
    padding: 16px 10%; /* Adiciona algum padding ao redor do contêiner */
}


.card {
    position: relative; /* Define o contêiner do card como relativo */
    padding: 16px;
    width: 30%; /* Ajuste conforme necessário */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card a {
    position: absolute; /* Posiciona o link/botão absolutamente */
    bottom: 0px; /* Ajuste conforme necessário */
    left: 50%; /* Move o botão para o meio do card horizontalmente */
    transform: translateX(-50%); /* Corrige a posição do botão centralizando-o horizontalmente */
}

@media (max-width: 768px) {
    .card {
        width: 100%; /* Cards ocupam toda a largura em telas pequenas */
    }

    .cardContainer {
        padding: 16px; /* Reduz o padding em telas menores */
        gap: 20px 50px; /* Reduz ainda mais o espaçamento entre os cards */
    }

    .titulo {
        font-size: 30px; /* Ajusta o tamanho da fonte do título */
        line-height: 40px;
    }

    .subtitulo {
        font-size: 18px; /* Ajusta o tamanho da fonte do subtítulo */
        line-height: 24px;
    }
}

@media (max-width: 480px) {
    .card {
        width: 100%;
    }

    .cardContainer {
        padding: 8px; /* Reduz o padding em telas muito pequenas */
        gap: 10px 20px; /* Reduz ainda mais o espaçamento entre os cards */
        width: 100%;
    }

    .productImage{
        max-width: 300px;
    }

    
}


@media (max-width: 400px) {
    .card {
        width: 100%;
    }

    .cardContainer {
        padding: 8px; /* Reduz o padding em telas muito pequenas */
        gap: 10px 20px; /* Reduz ainda mais o espaçamento entre os cards */
        width: 100%;
    }

    .productImage {
        max-width: 250px; /* Reduz ainda mais o tamanho da imagem */
    }
}