.footer {
    background: linear-gradient(180deg, #0B3650 0%, #1C6289 100%);
    color: #F2F2F2;
    padding: 30px 10%; /* Adiciona padding de 20px em cima/baixo e 175px nas laterais */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box; /* Garante que o padding seja incluído nas dimensões totais do footer */
    font-size: 14px;
  }

.footer div {
    margin: 0;
}
  
  .footer img {
    width: 238px;
    height: 43.82px;
    top: 7351px;
    left: 223px;
    gap: 0px;
    opacity: 0px;
    padding-bottom: 10px;
  }
  
  .footer h3 {
    margin: 0 0 5px 0; 
  }
  
  .footer p {
    margin: 0 0 10px 0;
  }

  .icon {
    color: white;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s, transform 0.3s;
  }

  .social_icons {
    display: flex;
    justify-content: space-between;
  }

.icon:hover {
    color: #2E4E92;
    transform: scale(1.1);
}