.titulo {
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--dark-blue-color);
    margin: 0 10% 30px 10%;
}

.subtitulo {
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--light-blue-color);
    margin: 0 10% 30px 10%;
}

.titulo_formulario {
    color: var(--dark-blue-color);
    margin-top: 5px;
}

.subtitulo_formulario {
    color: var(--light-blue-color);
    font-weight: 600;
    margin-bottom: 20px;
}


form {
    border: 3px solid var(--dark-blue-color);
    border-radius: 8px;
    padding: 30px;
    max-width: 60%;
    margin: 0 auto;
    margin-bottom: 10em;
}
  
label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
  
label span {
    color: #000000;

    font-weight: bold;
    text-align: left;
}

label span .icon {
    margin-right: 0.5em;
    color: var(--dark-blue-color);
}
  
input,
textarea {
    font-family: var(--primary-font);
    background-color: transparent;
    border: none;
    border-bottom: 3px solid var(--dark-blue-color);
    box-sizing: border-box;
    padding: .8em 0;
    font-size: 16px;
}

input:focus,
textarea:focus {
    outline: none;
    border-bottom-color: var(--dark-blue-color);
}

input::placeholder,
textarea::placeholder {
    color: var(--light-blue-color);
    font-weight: 500;
    font-size: 15px;
}

textarea {
    resize: vertical;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue-color);
    color: var(--white-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: var(--second-font);
    font-weight: 500;
    font-size: 15px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px 20px; /* exige mudanças */

}

.botao:hover {
    background-color: var(--light-blue-color);
    transform: scale(1.05);
}

.error {
    color: red;
    font-size: 15px;
    margin-top: 5px;
}
.errorMessage {
    color: red;
    font-weight: 500;
}
.successMessage {
    color: green;
    font-weight: 500;
}

h4 {
    font-weight: bold;
    text-align: left;
}
