
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white-color);
  padding: 30px 10%;
  background: linear-gradient(180deg, #1C6289 0%, #0B3650 100%);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
}

.content {
  padding-top: 90px;
}
  
.navbar_links {
    display: flex;
    gap: 1rem;
    color: var(--white-color);
}

.navbar_links div {
  display: flex;
  align-items: center;
}
  
.link {
  color: var(--white-color);
  text-decoration: none;
  font-size: 20px;
}

.link:hover {
  color: var(--light-blue-color);
}
  
.logo {
  height: 40px;
}
  
.toggle_button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.3rem;
  padding: 0;
  transition: color 0.3s;
}
  
.toggle_button:hover {
  color: var(--light-blue-color);
}

.language_button {
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-weight: 500;
  font-size: 17px;
}

.language_button:hover {
  transform: scale(1.05);
}

.language_button.pt {
  background: linear-gradient(to bottom right, green 50%, red 50%);
}

.language_button.en {
  background: linear-gradient(to bottom right, blue 50%, red 50%);
}

.language_button .flag_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

@media screen and (max-width: 900px) {
  .navbar_links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 90px;
    left: 0;
    background: linear-gradient(180deg, #1C6289 0%, #0B3650 100%);
    width: 100%;
    padding: 10px;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
  }
  .navbar_links.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
  .navbar_links div {
    margin: 2px 0 0 10px;
  }
  .toggle_button {
    display: block;
  }
  .logo {
    height: auto;
    max-width: 70%;
  }
}

@media screen and (max-width: 480px) {
  .logo {
    height: auto;
    max-width: 60%;
  }
}